.button {
  border-radius: 6px;
  border: 2px solid #1e1e1e;
  height: 35px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #1e1e1e;
  width: 100%;
  cursor: pointer;
}

.button.dark {
  border-color: #fff;
  color: #fff;
}
