.button {
  border-radius: 5px;
  outline: 1px solid #d70000;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #f00;
  padding: 7px 0;
  min-width: 150px;
  cursor: pointer;
}
