.container {
  margin-bottom: 20px;
  .content {
    white-space: pre-line;
    margin-top: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.8;
  }
}
