.container {
  .title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .content {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.8;
  }
}
