.drawer {
  flex-shrink: 0.1;
  --bg-color: #f7f7f7;
  z-index: 200;
  height: 100vh;
  background: var(--bg-color);
  position: fixed;
  display: flex;
  width: 0;
  transition: width 500ms ease-out;
  overflow: hidden;
  .content {
    margin: 50px 20px 0px 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: nowrap;
  }
}

.drawer.open {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .drawer {
    --bg-color: #0c0c0c;
  }
}

@media screen and (min-width: 768px) {
  .drawer {
    position: relative;
  }
  .drawer.open {
    width: 300px;
  }
}
