.container {
  height: 70px;
  background-color: #1e1e1e;
  padding: 0 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .burger {
    cursor: pointer;
  }
  .logout {
    cursor: pointer;
  }
}
