.container {
  margin-bottom: 20px;
  padding: 20px;
  scroll-margin-top: 70px;
  border-radius: 21px;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .content {
    white-space: pre-line;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.8;
  }
  .tools {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    .info > * {
      border-radius: 7px;
      font-size: 15px;
      padding: 4px 6px;
      background: #d2d2d2;
    }
    .info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: end;
    }
    .buttons {
      display: flex;
      flex-direction: row;
      gap: 15px;
    }
  }
}

.container.dark {
  background: #282828;
  .info > * {
    background: #454545;
  }
}

@media screen and (min-width: 768px) {
  .container {
    .tools {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .info {
        flex-direction: row;
        gap: 10px;
      }
    }
  }
}
