.container {
  margin-bottom: 20px;
  scroll-margin-top: 70px;
  border-radius: 21px;
  background: #f0f0f0;
  .content {
    white-space: pre-line;
    margin-top: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.8;
  }
}
