# Server
PORT=3000

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=programming_blog

# JWT
JWT_SECRET=secret
JWT_AUDIENCE=audience
JWT_ISSUER=issuer
JWT_ACCESS_TTL=1d
JWT_REFRESH_TTL=7d