.container {
  position: absolute;
  top: calc(100% + 10px);
  z-index: 5;
  padding: 10px;
  background: rgba(240, 240, 240);
  border-radius: 5px;
  white-space: pre-line;
  text-align: left;
  border: 1px solid black;
}
.container.dark {
  background: rgb(52, 52, 52);
  border-color: rgb(147, 147, 147);
}
