.textarea {
  min-height: 400px;
  width: 100%;
  flex-basis: 100%;
  font-size: 16px;
  border-radius: 1px;
  border: 1px solid rgba(137, 137, 137, 0.2);
  background: #f0f0f0;
}

.textarea.dark {
  color: #fdfdfd;
  border: 1px solid rgba(137, 137, 137, 0.2);
  background: #282828;
}
