.container {
  display: flex;
  width: 100%;
  padding-top: 70px;
  .outlet {
    width: 100%;
    padding: 30px 20px;
    transition: margin 300ms ease-out, padding 300ms ease-out;
  }
}

@media screen and (min-width: 768px) {
  .container {
    .outlet.open {
      margin-left: 300px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    .outlet.open {
      padding: 40px 50px 0 50px;
    }
    .outlet {
      padding: 40px 160px 0 100px;
    }
  }
}
