.container {
  display: flex;
  position: relative;
  width: auto;
  .input {
    display: block;
    border-radius: 1px;
    border-bottom: 1px solid #898989;
    background: #f0f0f0;
    height: 28px;

    font-size: 16px;
    padding: 3px 10px;
  }
  .dropdown {
    display: none;
    font-size: 16px;
    overflow: hidden;
    background: #e1e1e1;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    position: absolute;
    top: 27px;
    .dropdownItem {
      cursor: pointer;
      padding: 5px 10px;
    }
    .dropdownItem:hover {
      background-color: rgba($color: #bebebe, $alpha: 0.2);
    }
  }
  .input:focus ~ .dropdown {
    display: block;
  }
}

.container.dark {
  .input {
    border-radius: 1px;
    border-bottom: 1px solid #898989;
    background: #282828;
    color: #fdfdfd;
  }
  .dropdown {
    background-color: #1e1e1e;
  }
}
