.tr {
  border-top: 3px solid #f0f0f0;
  border-bottom: 3px solid #f0f0f0;
  td {
    padding: 25px 0;
    text-align: center;
  }
  .buttonContainer {
    display: inline;
    margin-left: 15px;
    position: absolute;
  }
  .email {
    position: relative;
    span {
      font-size: 18px;
      font-weight: 600;
    }
  }
  .dropdownAndLoading {
    display: flex;
  }
  .roleContainer {
    display: flex;
    justify-content: end;
    position: relative;
    .role {
      margin: auto;
      span {
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
      }
      span.admin {
        color: #d70000;
      }
    }
  }
}
